<br/>


<style>
#map_canvas {
	height: 400px;
}
</style>

<div class="box">
	<div class="row columns">
		<h3 class="title is-5">MAPPA SERVIZI</h3>
	</div>
	<div class="row columns">	
		<div class="col-md-3 column is-3">
			<div class="panel panel-default card">
				<div class="panel-body card content">
				[res2;block=begin]
					<h5 class="p-4">
						[res2.lettera]. [res2.nome]
					</h5>
					<h6>
						[res2.descrizione]
					</h6>
		
					<div class="form-horizontal p-4">
					  <div class="columns is-multiline">
						
						<!-- Colonna: Volontari -->
						<div class="column is-half col-md-6">
						  <div class="field is-horizontal form-group">
							<div class="field-label is-one-third col-md-6">
							  <label class="label control-label" style="color:black">Volontari</label>
							</div>
							<div class="field-body col-md-6">
							  <div class="field">
								<div class="control is-static form-control-static" style="padding:0">
								  [res2.tot]
								</div>
							  </div>
							</div>
						  </div>
						</div>

						<!-- Colonna: Mezzi -->
						<div class="column is-half col-md-6">
						  <div class="field is-horizontal form-group">
							<div class="field-label is-one-third col-md-6">
							  <label class="label control-label" style="color:black">Mezzi</label>
							</div>
							<div class="field-body col-md-6">
							  <div class="field">
								<div class="control is-static form-control-static" style="padding:0">
								  [res2.tot2]
								</div>
							  </div>
							</div>
						  </div>
						</div>

					  </div>
					</div>

					[res2;block=end] 
				</div>
			</div>
		</div>
		<div class="col-md-9 column is-9">
			<div class="panel panel-default">
				<!--<div class="panel-body">-->
					<div id="map_canvas"></div>
					<!--<div id="world-map-markers" style="width: 720px; height: 400px"></div>-->
				<!--</div>-->
			</div>
		</div>
	</div>
</div>

<link rel="stylesheet" media="all" href="../../lib/jquery-jvectormap/jquery-jvectormap-2.0.3.css"/>
<script src="../../lib/jquery-jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="../../lib/jquery-jvectormap/maps/jquery-jvectormap-it-mill.js"></script>

    <script>
      function initMap(){
	  var markers = Array();
	  	[res;block=begin]
			markers.push({latLng: [[res.latitudine], [res.longitudine]], name: '[res.lettera]'});		
		[res;block=end]
			
        $('#map_canvas').vectorMap({
          map: 'it_mill',
          scaleColors: ['#C8EEFF', '#0071A4'],
          normalizeFunction: 'polynomial',
          hoverOpacity: 0.7,
          hoverColor: false,
          markerStyle: {
            initial: {
              fill: '#F8E23B',
              stroke: '#383f47'
            }
          },
          backgroundColor: '#383f47',
          markers: markers,
		  zoomMax:99,
		  focusOn: {lat: markers[0].latLng[0],lng: markers[0].latLng[1], x: 1, y: 1, scale: 5},
		  labels: {
        markers: {
          render: function(index){
            return markers[index].name;
          }
        }
    }
      });
	  
	  }
	  
	  $( document ).ready(initMap());
    </script>